.pagination {
  text-align: center;
}

.pagination li {
  display: inline-block;
  padding: 15px 5px 0px;
  position: relative;
  margin: 0px 5px;
  font-weight: 700;
  font-size: 18px;
  vertical-align: top;
}

.pagination a {
  color: #DCDFE0;
}

.pagination li:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2px;
  /*background: rgba(139, 149, 153, 0.3);*/
  background: none;
}

.pagination li:hover {
  color: #FFB833;
}

.pagination a:hover {
  color: #FFB833 !important;
}

.pagination li:hover:before {
  /*background: #FFB833;*/
  background: none;
}

.pagination .active a{
  font-size: 18px;
  color: #FFB833;
  padding-left: 10px;
  padding-right: 10px;
}

.pagination .active a:before {
  background: #FFB833;
}



.video-home.content-description-home {
  padding-top: 40px !important;
  padding-bottom: 0px !important;
  margin-bottom: 70px !important;
}

@import "../fonts/lato/stylesheet.css";

.container-promag {  
  color: #333;
  font-size: 20px;
  font-family: "Lato"; 
  position: relative;
  overflow-x: hidden;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


.container-promag h1 {
    color: #43b02a;
    font-size: 20px !important;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 15px !important;
    text-align: center;
  }
  
  .container-promag h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .container-promag h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .container-promag p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  
  .container-promag {
    height: 200px;
    overflow: hidden;
    position: relative;
  }

  @media screen and (min-width: 1200px) {
    .container-promag {
      height: 205px;
      overflow: hidden;
      position: relative;
    }
  }

  @media screen and (max-width: 800px) {
    .container-promag {
      height: 266px;
      overflow: hidden;
      position: relative;
    }
  }
  
  @media screen and (max-width: 576px) {
    .container-promag {
      height: 350px;
      overflow: hidden;
      position: relative;
    }
  }

  @media screen and (max-width: 400px) {
    .container-promag {
      height: 452px;
      overflow: hidden;
      position: relative;
    }
  }
  
  .container-promag::before {
    content: "";
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      white 50%,
      white 100%
    );
    position: absolute;
    height: 94px;
    width: 100% !important;
  }
  
  .step-by-step-article {
    margin-top: 190px !important;
  }
  
  .container-promag.expanded {
    height: auto;
    overflow: hidden;
  }
  
  .container-promag.expanded::before {
    display: none;
  }
  
  .wrapper .button-wrapper {
    text-align: center;
  }
  
  .wrapper .button-wrapper button {
    background: none;
    border: none;
    color: #43b02a;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
  }
  
  .arrow {
    border: solid #43b02a;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    margin-top: -10px;
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 5px;
    position: absolute;
  }

  .d-none {
    display: none !important;
  }
  


  .indicator-slidemaagmeter {
    border-radius: 50px;
    height: 15px;
    overflow: hidden;
    width: 100% !important;
    /* margin: 10px !important; */
    top: auto !important;
    bottom: -70px !important;
  }

  .indicator-text {
    position: absolute;
    bottom: -105px !important;
    margin-left: -10px;
    width: 100%;
  }

  .indicator-text .col-wrapper {
    display: flex;
    width: 100%;
  }

  .indicator-text .col-wrapper .col-1 {
    text-align: left;
    width: 50%;
  }

  .indicator-text .col-wrapper .col-2 {
    text-align: right;
    width: 50%;
  }

  .indicator-wrapper {
    padding: 10px;
    position: relative;
  }

  .indicator-slidemaagmeter span {
    border-radius: 80px;
  }

  .slide-1 .box-radio-custom .ls img {
    height: 110px !important;
  }

  @media screen and (min-width: 1400px) {
    .slide-2 .box-radio-custom {
      /* left: -1030px !important; */
      /* width: 999px !important; */
      padding: 50px !important;
    }
    /* .slide-3 {
      left: -1992px !important;
    }
    .slide-3 {
      left: -2040px !important;
    } */
  }