.pagination {
  text-align: center;
}

.pagination li {
  display: inline-block;
  padding: 15px 5px 0px;
  position: relative;
  margin: 0px 5px;
  font-weight: 700;
  font-size: 18px;
  vertical-align: top;
}

.pagination a {
  color: #DCDFE0;
}

.pagination li:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2px;
  /*background: rgba(139, 149, 153, 0.3);*/
  background: none;
}

.pagination li:hover {
  color: #FFB833;
}

.pagination a:hover {
  color: #FFB833 !important;
}

.pagination li:hover:before {
  /*background: #FFB833;*/
  background: none;
}

.pagination .active a{
  font-size: 18px;
  color: #FFB833;
  padding-left: 10px;
  padding-right: 10px;
}

.pagination .active a:before {
  background: #FFB833;
}



.video-home.content-description-home {
  padding-top: 20px !important;
}

.container-promag h1 {
    color: #43b02a;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .container-promag h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .container-promag h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .container-promag p {
    font-size: 16px;
  }
  
  .container-promag {
    height: 400px;
    overflow: hidden;
    position: relative;
  }
  
  .container-promag::before {
    content: "";
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      white 50%,
      white 100%
    );
    position: absolute;
    height: 60px;
    width: 100% !important;
  }
  
  .container-promag.expanded {
    height: auto;
    overflow: hidden;
  }
  
  .container-promag.expanded::before {
    display: none;
  }
  
  .wrapper .button-wrapper {
    text-align: center;
  }
  
  .wrapper .button-wrapper button {
    background: none;
    border: none;
    color: #43b02a;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
  }
  
  .arrow {
    border: solid #43b02a;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    margin-top: -10px;
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 5px;
    position: absolute;
  }

  .d-none {
    display: none !important;
  }
  
